@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');
.font-poppins-400 {
    font-family: 'Poppins';
    font-weight: 400;
}
.font-cabin {
    font-family: 'Cabin';
}
.ml5 {
    margin-left: 500px;
}
.params {
    height:112px;
    overflow: auto;
}
::-webkit-scrollbar {
    display: none;
}
.sweet-alert[data-has-cancel-button=false] button {
    background-color: red !important;
}